/*.App {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*.todo-group {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    gap: 8px;*/
/*}*/

.todo-item-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.todo-item {
    width: 100%;
    border: 1px solid #ccc;
    text-align: center;
    margin: 10px;
}

.todo-item .todo-done {
    text-decoration: line-through;
}

.delete-button {
    border: solid 1px #ccc;
    border-radius: 2px;
    cursor: pointer;
}

.add-todo-form {
    display: flex;
    gap: 12px;
    border-bottom: 1px solid #eee;
    align-items: center;
    flex-direction: row;
}
.add-button {
    border: solid 1px #ccc;
    cursor: pointer;
    background-color: #6498f8;
    color: white;
    width: 40px;
}
/*.todo-list{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    gap: 8px;*/
/*}*/